/* ===== PRIMARY STYLES =====================================================
   ========================================================================== */
/*========================= global ===========================*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  -webkit-box-sizing:border-box;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  font-family: 'DinPro';
  background-color: #0082D0;
}

/* =============== ВСПЛЫВАЮЩИЕ ОКНА ======================= ===================
============================================================ POP-UP============
/////////////////////////////////////////////////////////////////////////////*/
/*заказ звонка верхняя*/
.overlay-zvonokt {
    background-color: rgba(0, 0, 0, 0.7);
    bottom: 0;
    cursor: default;
    left: 0;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    visibility: hidden;
    z-index: 2;
    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -ms-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;
}
.overlay-zvonokt:target {
    visibility: visible;
    opacity: 1;
}
.popup-zvonokt {              
    left: 50%;
    opacity: 0;
    padding: 10px;
    position: fixed;    
    top: 40%;
    visibility: hidden;
    z-index: 10;
 
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
 
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;   
 
    -webkit-transition: opacity .5s, top .5s;
    -moz-transition: opacity .5s, top .5s;
    -ms-transition: opacity .5s, top .5s;
    -o-transition: opacity .5s, top .5s;
    transition: opacity .5s, top .5s;
}
.popup-form {
  background: url(../img/background/form.jpg);
  width: 2000px;
  height: 168px;
  margin: 15px 0 15px 0;
  padding-top: 17px;
  border: 4px solid #fff;
}
.wind-zakaz-top {
padding: 10px 15px 0 15px;
height: 130px;
width: 1000px;
margin: 0 auto;
border-radius: 5px;
background: rgba(255,255,255,0.5);
-webkit-box-shadow: 0px -1px 47px -14px rgba(0,0,0,1);
-moz-box-shadow: 0px -1px 47px -14px rgba(0,0,0,1);
box-shadow: 0px -1px 47px -14px rgba(0,0,0,1);
}

.wind-zakaz-top p {
  text-align: center;
  font-size: 30px;  
}

.wind-zakaz-top input {
  padding-left: 30px;    
  border-top: 2px solid #c6c6c6;
  border-left: 2px solid #c6c6c6;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;    
  height: 35px;
  width: 201px;  
  font-size: 16px;
  margin-left: 3px;  
  vertical-align: top;
}

.wind-zakaz-top form{
  margin-top: 11px;
}

.wind-zakaz-top input[type="text"] {
  margin-top: 7px;
}

.wind-zakaz-top input:focus {
outline: 0;
}

.wind-zakaz-top input[type="text"]:nth-child(1){
  background: url(../img/background/input-name.png) no-repeat;  
  background-color: #fff;
  background-position: 3% center;  
  border: 1px solid #c6c6c6;
}

.wind-zakaz-top input[type="text"]:nth-child(2){
  background: url(../img/background/input-tel.png) no-repeat;
  background-color: #fff;
  background-position: 3% center;
  border: 1px solid #c6c6c6;
}

.wind-zakaz-top input[type="text"]:nth-child(4){
  background: url(../img/background/input-maill.png) no-repeat;  
  background-color: #fff;
  background-position: 3% center; 
  border: 1px solid #c6c6c6; 
}

.wind-zakaz-top input[type="button"]{
  cursor: pointer;  
  width: 220px;
  padding: 0;
  height: 50px;
  background: #00BFF2;  
  color: #fff;
  font-size: 20px;
  border: none;
  border-bottom: 3px solid #0099CF;
  font-family: 'DinPro';
  -webkit-box-shadow: 0px 12px 40px -11px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 12px 40px -11px rgba(0,0,0,0.75);
  box-shadow: 0px 12px 40px -11px rgba(0,0,0,0.75);
  outline: none;
}
.wind-zakaz-top input[type="button"]:focus{
  outline: none;
}
.wind-zakaz-top input[type="button"]:hover{
  background: #00D2F2;
}

.wind-zakaz-top input[type="button"]:active{
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: none;  
  margin-top: 3px;
  height: 47px;  
  outline: none;
}

.overlay-zvonokt:target+.popup-zvonokt {    
    opacity: 1;
    visibility: visible;
}
.rel-pos {
  position: relative;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing: border-box;
}
/* Кнопка закрытия окна  */
.close {        
height: 24px;
line-height: 24px;
position: absolute;
right: 16px;
font-weight: bold;
text-align: center;
text-decoration: none;
top: 17px;
width: 24px;
border-radius: 15px;
z-index: 15;   
}
.close:before {
    color: #81A2C1;
    content: "X";
    font-size: 22px;
    font-family: arial;
}
/* =============================== END ===============================                      
//////////////////////////////////|||||||||||||\\\\\\\\\\\\\\\\\\\\\\\\\\\\
=============================CONTENS ========== CONTENS ============= CONTENS */
.header {
  width: 100%;
  height: 800px;
  background: url(../img/background/background.jpg) top center;
}

.contain {
  width: 980px;
  margin: 0 auto;
  padding-top: 12px;
}

.header-cont {
  
}

.rectangle1 {
  width: 482px;
  height: 77px;
  background: url(../img/background/rectangle1.png) no-repeat;
  display: inline-block;
  font-size: 18px;
  color: #fff;
  padding: 3px 0 0 10px;
  font-weight: bold;
  vertical-align: top;
  margin-left: 5px;
}

.call-him {
  float: right;
  text-align: right;
  line-height: 1.1;  
  height: 100px;
}

.call-him span{
  font-weight: bold;
}

.p-register1 {
  font-size: 12px;  
}

.number {
  font-size: 35px;
}

.link-to-modal {
  color: #fff;
  text-decoration: none;
  display: block;
  background: url(../img/background/rectangle2.png) no-repeat; 
  width: 258px;
  height: 28px; 
  float: right;
  font-size: 17px;
  padding: 4px 10px 0 0;
  margin-top: 5px;
}

.fform {
padding-top: 10px;
width: 275px;
height: 300px;
border-radius: 5px;
background: rgba(255,255,255,0.5);
-webkit-box-shadow: 0px -1px 47px -14px rgba(0,0,0,1);
-moz-box-shadow: 0px -1px 47px -14px rgba(0,0,0,1);
box-shadow: 0px -1px 47px -14px rgba(0,0,0,1);
float: right;
}

.fform p:first-child{  
  font-size: 25px;
  font-weight: bold;
}

.fform p {
  text-align: center;
  font-size: 20px;  
}

.fform input {
  padding-left: 30px;  
  
  border-top: 2px solid #c6c6c6;
  border-left: 2px solid #c6c6c6;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;    
  height: 35px;
  width: 220px;
  margin: 0 0 10px 10px;
  font-size: 16px;
}

.fform input:focus {
outline: 0;
}

.fform input[type="text"]:nth-child(1){
  background: url(../img/background/input-name.png) no-repeat;  
  background-color: #fff;
  background-position: 3% center;
  margin-top: 20px; 
  border: 1px solid #c6c6c6;
}

.fform input[type="text"]:nth-child(2){
  background: url(../img/background/input-tel.png) no-repeat;
  background-color: #fff;
  background-position: 3% center;
  border: 1px solid #c6c6c6;
}

.fform input[type="text"]:nth-child(4){
  background: url(../img/background/input-maill.png) no-repeat;  
  background-color: #fff;
  background-position: 3% center; 
  border: 1px solid #c6c6c6; 
}

.fform input[type="submit"]{
  cursor: pointer;  
  width: 252px;
  padding: 0;
  height: 50px;
  background: #00BFF2;  
  color: #fff;
  font-size: 20px;
  border: none;
  border-bottom: 3px solid #0099CF;
  font-family: 'DinPro';
  -webkit-box-shadow: 0px 12px 40px -11px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 12px 40px -11px rgba(0,0,0,0.75);
  box-shadow: 0px 12px 40px -11px rgba(0,0,0,0.75);
}

.wind-zakaz-top input[type="button"]:focus{
  outline: none;
}

.fform input[type="submit"]:hover{
  background: #00D2F2;
}

.fform input[type="submit"]:active{
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: none;
  margin-top: 3px;
  height: 47px;  
}

.how-we-make {
  background: url(../img/background/blik.png) no-repeat top center,
              url(../img/background/products.png);
  height: 290px;
  width: 100%;
  border-bottom: 4px solid #DDDDDD;
}

.cont-we-make {
  background: url(../img/background/plity.png) no-repeat top 50% left;
  height: 290px;    
}

.text-we-make {
  width: 750px;
  float: right;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 2px #0087AA;
}

.text-we-make h1{
  font-size: 30px;
  font-weight: bold;
}

.size24 {
  font-size: 24px;
}

.size20 {
  font-size: 20px;
}

.text-we-make hr{
  width: 650px;
  background-color: #63C4E8;
  color: #63C4E8;
  border: none;
  border-top: 1px solid #47717A;
  height: 1px;
}

.inline {
  width: 217px;
  display: inline-block;
  vertical-align: top;
}

.pad-15 {
  padding-bottom: 15px;
}

.my-title {
  font-size: 35px;
  text-align: center;
  padding: 15px;
}

.my-title-tab {
  font-size: 35px;
  text-align: center;
}

.blue {
  color: #00BFF2;  
}

.certificates {  
  width: 980px;
  height: 197px;
  margin-top: 15px;
}

.form {
  background: url(../img/background/form.jpg);
  width: 100%;
  height: 168px;
  margin: 0;
  padding-top: 17px;
}
.copy-form {
  display: inline-block;
}

.fform-inline {
padding: 10px 15px 0 15px;
height: 130px;
width: 980px;
margin: 0 auto;
border-radius: 5px;
background: rgba(255,255,255,0.5);
-webkit-box-shadow: 0px -1px 47px -14px rgba(0,0,0,1);
-moz-box-shadow: 0px -1px 47px -14px rgba(0,0,0,1);
box-shadow: 0px -1px 47px -14px rgba(0,0,0,1);
}

.fform-inline p {
  text-align: center;
  font-size: 30px;  
}

.fform-inline input {
  padding-left: 30px;    
  border-top: 2px solid #c6c6c6;
  border-left: 2px solid #c6c6c6;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;    
  height: 35px;
  width: 201px;  
  font-size: 16px;
  margin-left: 3px;  
  vertical-align: top;
}

.fform-inline form{
  margin-top: 11px;
}

.fform-inline input[type="text"] {
  margin-top: 7px;
}

.fform-inline input:focus {
outline: 0;
}

.fform-inline input[type="text"]:nth-child(1){
  background: url(../img/background/input-name.png) no-repeat;  
  background-color: #fff;
  background-position: 3% center;  
  border: 1px solid #c6c6c6;
}

.fform-inline input[type="text"]:nth-child(2){
  background: url(../img/background/input-tel.png) no-repeat;
  background-color: #fff;
  background-position: 3% center;
  border: 1px solid #c6c6c6;
}

.fform-inline input[type="text"]:nth-child(3){
  background: url(../img/background/input-maill.png) no-repeat;  
  background-color: #fff;
  background-position: 3% center; 
  border: 1px solid #c6c6c6; 
}

.fform-inline input[type="submit"]{
  cursor: pointer;  
  width: 220px;
  padding: 0;
  height: 50px;
  background: #0082D0;  
  color: #fff;
  font-size: 20px;
  border: none;
  border-bottom: 3px solid #0968B6;
  font-family: 'DinPro';
  -webkit-box-shadow: 0px 12px 40px -11px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 12px 40px -11px rgba(0,0,0,0.75);
  box-shadow: 0px 12px 40px -11px rgba(0,0,0,0.75);
}

.fform-inline input[type="submit"]:hover{
  background: #24A6F4;
}

.fform-inline input[type="submit"]:active{
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: none;  
  margin-top: 3px;
  height: 47px;  
}

.wind-zakaz-top input[type="submit"]:focus{
  outline: none;
}

.priminenie {
  background: url(../img/background/priminenie.png) no-repeat top center;
  width: 980px;
  height: 430px;
}

.no {
  width: 465px;
  display: inline-block;
  vertical-align: top;
}

.yes {
  width: 465px;
  display: inline-block;
  vertical-align: top;
}

.title2 {
  text-align: left;
  font-size: 28px;
}

.yes-no li{
  font-size: 18px;
  padding-left: 8px;  
}

.yes-no span{
  font-weight: bold;   
}

.no li{
  background: url(../img/li-no.png) no-repeat top left;
  list-style: none;
  padding: 0 0 0 45px;
  margin-top: 25px;  
}

.yes li{
  background: url(../img/li-yes.png) no-repeat top left;
  list-style: none;
  padding: 0 0 0 45px;
  margin-top: 25px;  
}

.n-left {
  float: left;
  text-align: left;    
}

.n-right {
  float: right;
  text-align: right;    
}

.bold {
  font-weight: bold;
}

.preim {
  display: inline-block;
  vertical-align: middle;
  padding: 0 10px 0 10px;
  font-size: 18px;  
}

.paragraph {
  width: 840px;
}

td {
  width: 195px;
  text-align: center;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  border-right: 1px solid #C5C5C5;
  border-bottom: 1px solid #C5C5C5;
  padding: 5px 0 5px 0;
  font-size: 18px;
}

.table-row td:last-child{
  color: #F3564F;
  border-right: none;
}

.table-row td:nth-child(2) {
  color: #00C5F3;
}

.table-row td:nth-child(1) {
  text-align: left;
  border-left: none;
}

.table-top td{
  font-weight: bold;
  text-align: center;
  border-top: none;
}

table {
  cellspacing: 0;
}

.table-bottom td{
  border-bottom: none;
}

.black {
  color: #000;
}

.one-rewiv {
  width: 460px;
  margin: 15px 8px 10px 8px;
  display: inline-block;
  vertical-align: top;  
}

.text-reviw {  
  width: 460px;
  height: 245px;  
  background: #00BFF2;
  border-radius: 5px;
  padding: 25px;
  color: #fff;
  font-size: 18px;
  position: relative;
}
.text-reviw:after{
content: "«»";
width: 40px;
height: 40px;
position: absolute;
top: -20px;
left: 210px;
border-radius: 25px;
background-color: #464646;
padding: 5px 0 0 10px;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  -webkit-box-sizing:border-bo
}
.commentator {
  text-align: left;
  padding-left: 8px;
  font-size: 19px;
}

.rewivs {
  padding-top: 15px;
}

.production{
  margin-top: 15px;
  margin: 0 auto;
  display: block;
}

.plan {
  display: inline-block;
  width: 185px;
  vertical-align: top;
  text-align: center;
  font-size: 25px;
}
.inline-footer {
  display: inline-block;
  width: 390px;
  height: 20px;
  vertical-align: middle;  
}

.inline-footer img{
  vertical-align: middle;
  padding-bottom: 7px;
}
.footer {
  padding-top: 8px;
  position: absolute;
  padding-bottom: 8px;
}


.walet-feedbackf {  
  width: 930px;  
  border-radius: 9px;
  position: relative;  
  text-align: center;
}
.walet-feedbackf img{
 margin-right: 15px;
 border-radius: 5px;
 border: 1px solid #fff;
}
.walet-feedbackf img:last-child{
  margin-right: 0;
}
/* window */
.walet-overlay {
    background-color: rgba(0, 0, 0, 0.8);
    bottom: 0;
    cursor: default;
    left: 0;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    visibility: hidden;
    z-index: 2;
    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -ms-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;
}
.walet-overlay:target {
    visibility: visible;
    opacity: 1;
}
/* =========== ФОРМА ============= 
================================== */
.walet-popup {          
    left: 50%;
    opacity: 0;
    padding: 10px;
    position: fixed;    
    top: 40%;
    visibility: hidden;
    z-index: 10; 
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
 
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;   
 
    -webkit-transition: opacity .5s, top .5s;
    -moz-transition: opacity .5s, top .5s;
    -ms-transition: opacity .5s, top .5s;
    -o-transition: opacity .5s, top .5s;
    transition: opacity .5s, top .5s;
}
.walet-feedbackf {  
  width: 930px;  
  border-radius: 9px;
  position: relative;  
  text-align: center;
}
.walet-feedbackf img{
 margin-right: 15px;
 border-radius: 5px;
 border: 1px solid #fff; 
}
.walet-overlay:target+.walet-popup {
    top: 50%;
    opacity: 1;
    visibility: visible;
}
/* Кнопка закрытия окна  */
.walet-closef {      
  line-height: 24px;
  position: absolute;
  right: 48%;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  font-family: arial;
  top: -16px;
  width: 32px;
  height: 32px;
  margin-top: -1px;  
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
     border-radius: 15px;  
     background: url(../img/close.png);  
}
.walet-closef:before {
    color: #747474;
    content: "";    
    font-size: 18px;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.9);
    line-height: 0.5;
    padding-top: -3px;
}
.walet-popup p, .popup div {
    margin-bottom: 10px;
}/*window*/

.certificates {
  text-align: center;
  height: 220px;
}
.certificates a{
  padding: 5px;
}

#fixed_line {
  display: block;
  position: fixed;
  width:100%;
  z-index: 9999999;
  margin-top: 2px;
}

#menu_block {
  width:980px;
  height:80px;
  display: block;
  position: relative;
  top: 0;
  left: 0;
  margin: 0 auto;
  z-index: 9999999;
  padding-top: 0;
}

.menu {
  display:block;
  height: 80px;
  position: absolute;
}

#menu_1 {
  background:transparent url(../img/menu/menu_11.png) no-repeat scroll -5px bottom;
  width: 117px;
  left:-2px;
}

#menu_1:hover {
  background:transparent url(../img/menu/menu_11.png) no-repeat scroll -5px top;
}

#menu_2 {
  background:transparent url(../img/menu/menu_22.png) no-repeat scroll -2px bottom;
  width: 117px;
  left:120px;
}

#menu_2:hover {
  background:transparent url(../img/menu/menu_22.png) no-repeat scroll -2px top;
}

#menu_3 {
  background:transparent url(../img/menu/menu_33.png) no-repeat scroll -3px bottom; 
  width: 222px;
  left:221px;
}

#menu_3:hover {
  background:transparent url(../img/menu/menu_33.png) no-repeat scroll -3px top;
}

#menu_4 {
  background:transparent url(../img/menu/menu_44.png) no-repeat scroll -5px bottom;
  width: 164px;
  left:437px;
}

#menu_4:hover {
  background:transparent url(../img/menu/menu_44.png) no-repeat scroll -5px top;
}

#menu_5 {
  background:transparent url(../img/menu/menu_55.png) no-repeat scroll -3px bottom;
  width: 198px;
  left:603px;
}

#menu_5:hover {
  background:transparent url(../img/menu/menu_55.png) no-repeat scroll -3px top;
}

#menu_6 {
  background:transparent url(../img/menu/menu_66.png) no-repeat scroll -4px bottom;
  width: 171px;
  left:809px;
}

#menu_6:hover {
  background:transparent url(../img/menu/menu_66.png) no-repeat scroll -4px top;
}

#about {
  height:298px;
  background: #0082D0;
  padding-top: 19px;
}

#calculator, #audiorols {
  background: #fff;
}

#contacts {
  background: #0082d0;
  color: #fff;
}

#calc_wrap, #rols_wrap, #cont_wrap {
  box-shadow: none;
  padding: 30px 0;
  height:780px;
  background: none;
}

#rols_wrap {
  height: 540px;
}

#cont_wrap {
  height: 480px;
}

.form_text {
  font-size: 28px;
  text-align: center;
  width:245px;
  height: 80px;
  line-height: 36px;
  float:left;
  padding: 1px 0 0 0;
}

input[type="radio"] {
    display:none;
}

.calc_form {
  margin-top: 0 !important;
}

input[type="radio"] + label span {
    display:inline-block;
    width:243px;
    height:80px;
    line-height: 80px;
    margin: 0;
    vertical-align:middle;
    background: #ddd;
    cursor:pointer;
    float:left;
    font-size: 48px;
    border:none;
    padding: 0 0 0 38px;
}

input[type="radio"]:checked + label span {
    background: #0082D0;
    width:243px;
    height:80px;
    color: #fff;
    border:none !important;
}

input[type="radio"]#hrono_15 + label span,
input[type="radio"]#tran_4 + label span,
input[type="radio"]#dlit_1 + label span {
    margin: 0 3px 0 0;
    border-radius: 30px 0 0 30px;
}

input[type="radio"]#hrono_20 + label span,
input[type="radio"]#tran_7 + label span,
input[type="radio"]#dlit_3 + label span {
    margin: 0;
    border-radius: 0;
}

input[type="radio"]#hrono_30 + label span,
input[type="radio"]#tran_10 + label span,
input[type="radio"]#dlit_12 + label span {
    margin: 0 0 0 3px;
    border-radius: 0 30px 30px 0;
}

#form_1, #form_2, #form_3, #form_4, #form_5 {
  width:980px;
  height:80px;
  margin-top: 36px;
  display: block;
  position: relative;
}

tag.comment {
  font-size: 28px;
}

input[type="radio"]#dlit_1 + label span,
input[type="radio"]#dlit_3 + label span {
  width: 173px;
}

input[type="radio"]#dlit_6 + label span,
input[type="radio"]#dlit_12 + label span {
  width: 190px;
}

input[type="radio"]#dlit_6 + label span {
  margin: 0 0 0 3px;
}

input[type="radio"].tran + label span {
  padding: 0 0 0 60px;
}

input[type="radio"].dlit + label span {
  padding: 0 0 0 26px;
}

input[type="radio"]#dlit_12 + label span {
  padding: 0 0 0 8px;
}

#st_summ, #st_month {
  display:inline-block;
  width:315px;
  height:80px;
  
  margin: 0;
  vertical-align:middle;
  background: #fff;
  cursor:default;
  float:left;
  font-size: 48px;
  padding: 0 0 0 48px;
  color: #0082D0;
}

#st_summ {

  border:3px solid #0082D0 !important;
  border-radius: 30px 0 0 30px;
  display: none !important;
}
  
#st_month {
  border-top:3px solid #0082D0 !important;
  border-right:3px solid #0082D0 !important;
  border-bottom:3px solid #0082D0 !important;
  border-left:3px solid #0082D0 !important;
  border-radius: 30px;
  width:329px;
  padding: 0 400px 0 0;
  text-align: right;
}

#form_4 {
  margin-bottom: 36px;
}

#form_5 {
  margin-top: 0px;
  padding-left: 34px;
}

.st {
  display:block;
  position: absolute;
  color:#0082D0;
  top:32px;
  cursor: default;
}

input[type="text"]#st_summ + tag {
  left:444px;
  display: none !important;
}

input[type="text"]#st_month + tag {
  left:596px;
}

.zz {
  height: 264px;
  background-image: url(../img/background/form2.jpg) !important;
}

.zz-in {
  height: 230px;
}

.zz-sub {
  width:245px !important;
  height:80px !important;
  line-height: 80px !important;
  border-radius: 30px !important;
  font-size: 30px !important;
}

.zz-text {
  width:620px !important;
  height:76px !important;
  line-height: 76px !important;
  border-radius: 30px !important;
  font-size: 30px !important;
  margin-top: 0 !important;
  margin-right: 20px;
  padding-left: 50px !important;
  background-image: url(../img/background/input-tel.png) !important;
  background-color: #fff;
  background-position: 3% center;  
  border: 1px solid #c6c6c6;
}

.audio-roliki {
  margin-bottom: 30px;
  border-radius: 30px !important;
}

#about_2 {
  display:block;
  visibility: hidden;
  position: absolute;
  top:736px;
  background: transparent;
}

#calculator_3 {
  display:block;
  visibility: hidden;
  position: absolute;
  top:2000px;
  background: transparent;
}

#zvonok_4 {
  display:block;
  visibility: hidden;
  position: absolute;
  top:2720px;
  background: transparent;
}

#roliki_5 {
  display:block;
  visibility: hidden;
  position: absolute;
  top:3000px;
  background: transparent;
}

.onas {
  height:260px;
}

#map {
  width: 100%;
  height: 781px;
  background: url(../img/background/map.jpg) top center;
}

.audioplayer {
  position: relative;
  border-radius: 30px !important;
}

.player-text-wrapper {
  background: transparent none repeat scroll 0 0;
  display: block;
  height: 92px;
  margin-top: 21px;
  padding-left: 89px;
  padding-right: 13px;
  position: absolute;
  width: 980px;
}

.player-text {
  background: transparent none repeat scroll 0 0;
  color: #000;
  display: table-cell;
  font-family: clear_sans_mediumregular,Arial;
  font-size: 32px;
  height: 42px;
  line-height: 14px;
  margin: 0;
  opacity: 1;
  overflow: hidden;
  padding: 0;
  position: static;
  text-align: center;
  vertical-align: middle;
  width: inherit;
  z-index: 0;
}

.player-text-span {
  display: inline;
  line-height: 14px;
}

.mejs-offscreen {
  height: 1px;
  left: -10000px;
  overflow: hidden;
  position: absolute !important;
  top: -10000px;
  width: 1px;
}

.mejs-controls .mejs-button.mejs-playpause-button {
  background: #0082d0 none repeat scroll 0 0;
}

.mejs-container .mejs-controls div {
  border: 0 none;
  display: block;
  float: left;
  font-family: Helvetica,Arial;
  font-size: 11px;
  height: 34px;
  line-height: 11px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 50px;
}

.mejs-controls .mejs-play button {
  background-position: 0 0;
}

.mejs-controls .mejs-button button {
  background: transparent url("control.png") no-repeat scroll 0 68px;
  border: 0 none;
  cursor: pointer;
  display: block;
  font-size: 0;
  height: 68px;
  line-height: 0;
  margin: 0;
  outline: medium none !important;
  padding: 0;
  position: absolute;
  text-decoration: none;
  width: 68px;
}

.mejs-controls .mejs-button button:hover {

}

.mejs-container .mejs-controls div {
  border: 0 none;
  display: block;
  float: left;
  font-family: Helvetica,Arial;
  font-size: 11px;
  height: 34px;
  line-height: 11px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 50px;
}

.mejs-clear {
  clear: both;
}

#message1 h2, #message2 h2{
  text-align: center;
}

#zz_phone_error {
  display: inline;
  padding: 0px 0px 0px 54px;
  line-height: 34px;
  font-weight: normal;
  color: rgb(255, 0, 0);
  font-size: 20px;
}

#name_error, #phone_error, #email_error {
  display: inline;
  line-height: 24px;
  font-weight: normal;
  color: rgb(255, 0, 0);
  font-size: 16px;
}

#name_error {
  padding: 0px 0px 0px 34px;
}

#phone_error {
  padding: 0px 0px 0px 273px;
}

#email_error {
  padding: 0px 0px 0px 514px;
}