/* ===== PRIMARY STYLES =====================================================
   ========================================================================== */
/*========================= global ===========================*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  -webkit-box-sizing:border-box;
}


/* =============================== END ===============================                      
//////////////////////////////////|||||||||||||\\\\\\\\\\\\\\\\\\\\\\\\\\\\
=============================CONTENS ========== CONTENS ============= CONTENS */


.fform {
padding-top: 10px;
width: 275px;
height: 300px;
border-radius: 5px;
background: rgba(255,255,255,0.5);
-webkit-box-shadow: 0px -1px 47px -14px rgba(0,0,0,1);
-moz-box-shadow: 0px -1px 47px -14px rgba(0,0,0,1);
box-shadow: 0px -1px 47px -14px rgba(0,0,0,1);
float: right;
}

.fform p:first-child{  
  font-size: 25px;
  font-weight: bold;
}

.fform p {
  text-align: center;
  font-size: 20px;  
}

.fform input {
  padding-left: 30px;  
  
  border-top: 2px solid #c6c6c6;
  border-left: 2px solid #c6c6c6;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;    
  height: 35px;
  width: 220px;
  margin: 0 0 10px 10px;
  font-size: 16px;
}

.fform input:focus {
outline: 0;
}

.fform input[type="text"]:nth-child(1){
  background: url(../img/background/input-name.png) no-repeat;  
  background-color: #fff;
  background-position: 3% center;
  margin-top: 20px; 
  border: 1px solid #c6c6c6;
}

.fform input[type="text"]:nth-child(2){
  background: url(../img/background/input-tel.png) no-repeat;
  background-color: #fff;
  background-position: 3% center;
  border: 1px solid #c6c6c6;
}

.fform input[type="text"]:nth-child(4){
  background: url(../img/background/input-maill.png) no-repeat;  
  background-color: #fff;
  background-position: 3% center; 
  border: 1px solid #c6c6c6; 
}

.fform input[type="submit"]{
  cursor: pointer;  
  width: 252px;
  padding: 0;
  height: 50px;
  background: #00BFF2;  
  color: #fff;
  font-size: 20px;
  border: none;
  border-bottom: 3px solid #0099CF;
  font-family: 'DinPro';
  -webkit-box-shadow: 0px 12px 40px -11px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 12px 40px -11px rgba(0,0,0,0.75);
  box-shadow: 0px 12px 40px -11px rgba(0,0,0,0.75);
}


.fform input[type="submit"]:hover{
  background: #00D2F2;
}

.fform input[type="submit"]:active{
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: none;
  margin-top: 3px;
  height: 47px;  
}

.fform-inline {
padding: 10px 15px 0 15px;
height: 130px;
width: 980px;
margin: 0 auto;
border-radius: 5px;
background: rgba(255,255,255,0.5);
-webkit-box-shadow: 0px -1px 47px -14px rgba(0,0,0,1);
-moz-box-shadow: 0px -1px 47px -14px rgba(0,0,0,1);
box-shadow: 0px -1px 47px -14px rgba(0,0,0,1);
}

.fform-inline p {
  text-align: center;
  font-size: 30px;  
}

.fform-inline input {
  padding-left: 30px;    
  border-top: 2px solid #c6c6c6;
  border-left: 2px solid #c6c6c6;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;    
  height: 35px;
  width: 201px;  
  font-size: 16px;
  margin-left: 3px;  
  vertical-align: top;
}

.fform-inline form{
  margin-top: 11px;
}

.fform-inline input[type="text"] {
  margin-top: 7px;
}

.fform-inline input:focus {
outline: 0;
}

.fform-inline input[type="text"]:nth-child(1){
  background: url(../img/background/input-name.png) no-repeat;  
  background-color: #fff;
  background-position: 3% center;  
  border: 1px solid #c6c6c6;
}

.fform-inline input[type="text"]:nth-child(2){
  background: url(../img/background/input-tel.png) no-repeat;
  background-color: #fff;
  background-position: 3% center;
  border: 1px solid #c6c6c6;
}

.fform-inline input[type="text"]:nth-child(3){
  background: url(../img/background/input-maill.png) no-repeat;  
  background-color: #fff;
  background-position: 3% center; 
  border: 1px solid #c6c6c6; 
}

.fform-inline input[type="submit"]{
  cursor: pointer;  
  width: 220px;
  padding: 0;
  height: 50px;
  background: #0082D0;  
  color: #fff;
  font-size: 20px;
  border: none;
  border-bottom: 3px solid #0968B6;
  font-family: 'DinPro';
  -webkit-box-shadow: 0px 12px 40px -11px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 12px 40px -11px rgba(0,0,0,0.75);
  box-shadow: 0px 12px 40px -11px rgba(0,0,0,0.75);
}

.fform-inline input[type="submit"]:hover{
  background: #24A6F4;
}

.fform-inline input[type="submit"]:active{
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: none;  
  margin-top: 3px;
  height: 47px;  
}


#calculator, #audiorols {
  background: #fff;
}

#calc_wrap, #rols_wrap, #cont_wrap {
  box-shadow: none;
  padding: 30px 0;
  height:780px;
  background: none;
}


.form_text {
  font-size: 28px;
  text-align: center;
  width:245px;
  height: 80px;
  line-height: 36px;
  float:left;
  padding: 1px 0 0 0;
}

input[type="radio"] {
    display:none;
}

.calc_form {
  margin-top: 0 !important;
}

input[type="radio"] + label span {
    display:inline-block;
    width:243px;
    height:80px;
    line-height: 80px;
    margin: 0;
    vertical-align:middle;
    background: #ddd;
    cursor:pointer;
    float:left;
    font-size: 48px;
    border:none;
    padding: 0 0 0 38px;
}

input[type="radio"]:checked + label span {
    background: #0082D0;
    width:243px;
    height:80px;
    color: #fff;
    border:none !important;
}

input[type="radio"]#hrono_15 + label span,
input[type="radio"]#tran_4 + label span,
input[type="radio"]#dlit_1 + label span {
    margin: 0 3px 0 0;
    border-radius: 30px 0 0 30px;
}

input[type="radio"]#hrono_20 + label span,
input[type="radio"]#tran_7 + label span,
input[type="radio"]#dlit_3 + label span {
    margin: 0;
    border-radius: 0;
}

input[type="radio"]#hrono_30 + label span,
input[type="radio"]#tran_10 + label span,
input[type="radio"]#dlit_12 + label span {
    margin: 0 0 0 3px;
    border-radius: 0 30px 30px 0;
}

#form_1, #form_2, #form_3, #form_4, #form_5 {
  width:980px;
  height:80px;
  margin-top: 36px;
  display: block;
  position: relative;
}

tag.comment {
  font-size: 28px;
}

input[type="radio"]#dlit_1 + label span,
input[type="radio"]#dlit_3 + label span {
  width: 173px;
}

input[type="radio"]#dlit_6 + label span,
input[type="radio"]#dlit_12 + label span {
  width: 190px;
}

input[type="radio"]#dlit_6 + label span {
  margin: 0 0 0 3px;
}

input[type="radio"].tran + label span {
  padding: 0 0 0 60px;
}

input[type="radio"].dlit + label span {
  padding: 0 0 0 26px;
}

input[type="radio"]#dlit_12 + label span {
  padding: 0 0 0 8px;
}

#st_summ, #st_month {
  display:inline-block;
  width:315px;
  height:80px;
  
  margin: 0;
  vertical-align:middle;
  background: #fff;
  cursor:default;
  float:left;
  font-size: 48px;
  padding: 0 0 0 48px;
  color: #0082D0;
}

#st_summ {

  border:3px solid #0082D0 !important;
  border-radius: 30px 0 0 30px;
  display: none !important;
}
  
#st_month {
  border-top:3px solid #0082D0 !important;
  border-right:3px solid #0082D0 !important;
  border-bottom:3px solid #0082D0 !important;
  border-left:3px solid #0082D0 !important;
  border-radius: 30px;
  width:329px;
  padding: 0 400px 0 0;
  text-align: right;
}

#form_4 {
  margin-bottom: 36px;
}

#form_5 {
  margin-top: 0px;
  padding-left: 34px;
}

.st {
  display:block;
  position: absolute;
  color:#0082D0;
  top:32px;
  cursor: default;
}

input[type="text"]#st_summ + tag {
  left:444px;
  display: none !important;
}

input[type="text"]#st_month + tag {
  left:596px;
}

#calculator_3 {
  display:block;
  visibility: hidden;
  position: absolute;
  top:2000px;
  background: transparent;
}
